{% extends 'index.html' %}

{% block content %}

<form action="/contacts" method="get">
  <label for="search"></label>
  <input id="search" type="search" name="q" 
    value="{{ request.args.get('q') or '' }}"
    hx-get="/contacts"
    hx-trigger="search, keyup delay:200ms changed" 
    hx-target="tbody" 
    hx-select="tbody tr"/
    hx-push-url=true
    hx-indicator=#spinner>
    <input type="submit" value="Search" />
    <img id=spinner class=htmx-indicator src="./static/img/spinning-circles.svg" width=20px height=20px alt="Searching..." />
</form>

<p>
  <a href="/contacts/new">Add Contact</a>
  <span hx-get=/contacts/count hx-trigger=load>
    <img id=spinner class=htmx-indicator src=/static/img/spinning-circles.svg />
  </span>
</p>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% include 'rows.html' %}
    {% if contacts|length == 10 %}
      <tr>
        <td>
          <span 
            hx-target="closest tr"
            hx-trigger="revealed"
            hx-swap="outerHTML"
            hx-select="tbody > tr"
            hx-get="/contacts?page={{ page + 1 }}">
            Loading more...
        </span>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>

<!-- <div>
  <span>
    {% if page > 1 %}
      <a href=/contacts?page={{ page - 1}}>Prev</a>
    {% endif %}
    {% if contacts|length == 10 %}  
      <a href=/contacts?page={{ page + 1}}>Next</a>
    {% endif %}
  </span>
</div> -->

{% endblock %}