{% for contact in contacts %}
<tr>
  <td>{{ contact.first }}</td>
  <td>{{ contact.last }}</td>
  <td>{{ contact.phone }}</td>
  <td>{{ contact.email }}</td>
  <td>
    <button id=edit-btn
      hx-get="/contacts/{{ contact.id }}/edit"
      hx-push-url="true"
      hx-target="body">
      Edit
    </button>
    
    <button id="delete-btn"
      hx-delete="/contacts/{{ contact.id }}"
      hx-push-url="true"
      hx-confirm="Are you sure you want to delete this contact?"
      hx-target="body">
      Delete
    </button>
    
    <button id=view-btn
      hx-get="/contacts/{{ contact.id }}"
      hx-push-url="true"
      hx-target=body>
      View
    </button>
  </td>
</tr>
{% endfor %}
